main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 1000px;
}

.left-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 32px;
}

h1{
  font-size: 40px;
  font-weight: 700;
}

.right-part{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}


.right-part > button{
  
  background-color: hsl(248, 32%, 49%);
  border: none;
  padding: 12px;
  height: 48px;
  border-radius: 8px;
  font-weight: 300;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  span{
    font-weight: 700;
  }
}

.right-part > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 16px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;

  button{
    height: 48px;
    background-color: hsl(154, 59%, 51%);
    border: none;
    align-self: stretch;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
  }

  p{
    color: hsl(249, 10%, 75%);
    font-size: 12px;

    a{
      color: hsl(0, 100%, 74%);
    }
  }
}

.lvg{
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  gap: 2px;

  span{
    color: hsl(0, 98%, 58%);
    font-size: 12px;
    align-self: flex-start;
    margin-left: 4px;
  }
}

.lvg:has(span){
  input{
    border: 1px solid hsl(0, 98%, 58%);
  }
}



input{
  min-height: 48px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid hsl(246, 25%, 77%);
  padding: 4px 24px;
  color: black;
}



input:focus{  
  outline: 1px solid hsl(248, 32%, 49%);
}

input::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

@media (max-width: 700px){
  main{
    grid-template-columns: 1fr;
    padding: 32px;
    gap: 32px;
  }

  h1{
    text-align: center;
  }

  .right-part{
    padding: 0;
  }

  .left-part{
    padding: 0;
  }

  .left-part > p{
  text-align: center;
}

  .right-part > button{
    max-width: none;
    white-space: normal;
    height: auto;
  }

  .right-part > form{
    max-width: none;
    p{
      text-align: center;
    }
  }

}